@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Volkhov&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-O: #fa7436;
  --clr-primary-B: #222222;
  --clr-paragraph: #666666;
  --clr-btn-inside: #ffffff;
  --clr-bg: #fefcfb;
  --clr-bg-2: #f7f8fc;
  --clr-small-text: #ffe7db;
  --clr-mail-text: #999999;

  /* FONT SIZE */
  --fs-heading-primary: 6.4rem;
  --fs-heading-secondary: 4.8rem;
  --fs-title-heading: 2.4rem;
  --fs-paragraph-A: 2rem;
  --fs-paragraph-B: 1.8rem;
  --fs-paragraph-C: 1.6rem;
  --fs-paragraph-D: 1.4rem;
  --fs-paragraph-small: 1.2rem;
}

html {
  font-size: 62.5%;
}

.menu-bar {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
}

.menubar-contents {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: var(--fs-paragraph-C);
  font-family: "Poppins";
  color: var(--clr-primary-B);
  cursor: pointer;
}
.menubar-btns {
  display: flex;
  gap: 2.5rem;
}
.login-btn {
  color: var(--clr-primary-O);
  background-color: var(--clr-bg);
  border: none;
  font-family: "Poppins";
  font-size: var(--fs-paragraph-C);
  cursor: pointer;
}
.sign-up-btn {
  font-size: var(--fs-paragraph-C);
  background-color: var(--clr-bg);
  cursor: pointer;
}

.button {
  color: var(--clr-bg);
  background-color: var(--clr-primary-O);
  font-family: "Poppins";
  border-radius: 4px;
  width: 17rem;
  height: 5rem;
  border: none;
}
.section-hero {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: space-between;
  /* align-items: center; */
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero-heading {
  font-size: var(--fs-heading-primary);
  color: var(--clr-primary-B);
  font-family: "Volkhov";
}

.hero-description {
  border: 1px solid black;
  font-size: var(--fs-paragraph-A);
  color: var(--clr-paragraph);
  font-family: "Poppins";
}

.hero-btn {
  background-color: var(--clr-btn-inside);
  color: var(--clr-primary-O);
  font-family: "Poppins";
  border-radius: 4px;
  border: 1px solid var(--clr-primary-O);
  width: 17rem;
  height: 5rem;
  cursor: pointer;

  /* border: none; */
}

.hero-img {
  max-width: 65rem;
  height: 50rem;
}
