@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Volkhov&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-O: #fa7436;
  --clr-primary-B: #222222;
  --clr-paragraph: #666666;
  --clr-btn-inside: #ffffff;
  --clr-bg: #fefcfb;
  --clr-bg-2: #f7f8fc;
  --clr-small-text: #ffe7db;
  --clr-mail-text: #999999;

  /* FONT SIZE */
  --fs-heading-primary: 6.4rem;
  --fs-heading-secondary: 4.8rem;
  --fs-title-heading: 2.4rem;
  --fs-paragraph-A: 2rem;
  --fs-paragraph-B: 1.8rem;
  --fs-paragraph-C: 1.6rem;
  --fs-paragraph-D: 1.4rem;
  --fs-paragraph-small: 1.2rem;
}

html {
  font-size: 62.5%;
}

.menubar {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  padding-top: 2rem;
  background-color: var(--clr-bg);
}

.experiment {
  background-color: var(--clr-bg);
  padding-bottom: 6rem;
}
.color-tag {
  color: var(--clr-primary-O);
}
.menubar-contents {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: var(--fs-paragraph-C);
  font-family: "Poppins";
  color: var(--clr-primary-B);
  cursor: pointer;
}
.menubar-btns {
  display: flex;
  gap: 2.5rem;
}
.login-btn {
  color: var(--clr-primary-O);
  background-color: var(--clr-bg);
  border: none;
  font-family: "Poppins";
  font-size: var(--fs-paragraph-C);
  cursor: pointer;
}
.sign-up-btn {
  font-size: var(--fs-paragraph-C);
  background-color: var(--clr-bg);
  cursor: pointer;
}

.button {
  color: var(--clr-bg);
  background-color: var(--clr-primary-O);
  font-family: "Poppins";
  border-radius: 4px;
  width: 17rem;
  height: 5rem;
  border: none;
}
.hero {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: space-between;
  background-color: var(--clr-bg);
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 600px;
}
.hero-heading {
  font-size: var(--fs-heading-primary);
  color: var(--clr-primary-B);
  font-family: "Volkhov";
  /* width: 30vw; */
}

.hero-description {
  /* border: 1px solid black; */
  font-size: var(--fs-paragraph-A);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  /* width: 35vw; */
  line-height: 1.5;
}

.hero-btn {
  background-color: var(--clr-btn-inside);
  color: var(--clr-primary-O);
  font-family: "Poppins";
  border-radius: 4px;
  border: 1px solid var(--clr-primary-O);
  /* width: 17rem;
  height: 5rem; */
  padding: 1.3rem 2rem;
  cursor: pointer;
  width: 25%;

  /* border: none; */
}

.hero-img {
  max-width: 55rem;
  height: 45rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-rows: 1;
  margin: auto;
  width: 70vw;
  /* padding-bottom: 5rem; */
  background-color: var(--clr-btn-inside);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.051);
  height: 10rem;
  margin-top: 4rem;
}

.container-heading {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-primary-B);
  font-family: "Poppins";
  cursor: pointer;
}

.container-description {
  font-size: var(--fs-paragraph-D);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin-top: 5px;
  cursor: pointer;
}
.container-btn {
  font-size: var(--fs-paragraph-C);
  cursor: pointer;
}
.info-section {
  /* margin-top: 5rem; */
  background-color: var(--clr-bg-2);
  position: relative;
}
.info-heading {
  font-size: var(--fs-heading-secondary);
  color: var(--clr-primary-B);
  font-family: "Volkhov";
  padding-top: 5rem;
  text-align: center;
}
.info-img {
  position: absolute;
  left: 72%;
  top: 10%;
}

.info-description {
  font-size: var(--fs-paragraph-B);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin: auto;
  width: 35vw;
  text-align: center;
}

.info-explore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;
  padding-bottom: 6rem;
}
.info-explore-box {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.051);
  height: 30rem;
  width: 40rem;
  padding: 4rem;
  background-color: var(--clr-btn-inside);
}
.info-explore-heading {
  font-size: var(--fs-title-heading);
  color: var(--clr-primary-B);
  font-family: "Poppins";
  margin-top: 2rem;
}
.info-explore-details {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin-top: 3rem;
}
.offers-section {
  background-color: var(--clr-bg);
  padding-top: 5rem;
  position: relative;
}
.offers-heading {
  font-size: var(--fs-heading-secondary);
  color: var(--clr-primary-B);
  font-family: "Volkhov";
  text-align: center;
}

.offers-description {
  font-size: var(--fs-paragraph-B);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin: auto;
  width: 30vw;
  text-align: center;
}
.offers-location-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 4.5rem;
  padding-bottom: 10rem;
  overflow-x: scroll;
}
.offers-location {
  /* outline: 1px solid black; */
  width: 27rem;
  background-color: var(--clr-bg);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.113);
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  border-radius: 8px;
}
.italy-pic {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.rating {
  display: flex;
  /* margin-left: auto; */
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 8px; */
  padding: 1.5rem;
}
.location-name {
  font-size: var(--fs-paragraph-A);
  font-family: "Poppins";
  color: var(--clr-primary-B);
}
.rating-number {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ratings {
  color: var(--clr-paragraph);
  font-size: var(--fs-paragraph-C);
  font-family: "Poppins";
}
/* .star-icon {
   overflow-x: hidden; 
  border-bottom-left-radius: 0;
} */
.location-ideas {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  /* padding: 0 8px 8px 8px; */
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.location-explore {
  display: flex;
  gap: 5px;
  align-items: center;
}
.location-icon {
  height: 1.5rem;
  /* width: 1.7rem; */
}
.location-country {
  font-size: var(--fs-paragraph-D);
  color: var(--clr-paragraph);
  font-family: "Poppins";
}
.location-deals {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.old-price {
  color: var(--clr-paragraph);
  font-family: "Poppins";
  text-decoration: line-through;
}

.discounted-price {
  font-family: "Poppins";
  color: var(--clr-primary-O);
  background-color: var(--clr-small-text);
  width: 3.5rem;
  text-align: center;
  border-radius: 4px;
}
.btn {
  position: absolute;
  bottom: 0%;
  left: 45%;
  right: 45%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.btn-left {
  display: flex;
  border: 1px solid var(--clr-paragraph);
  text-align: center;
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 0.2rem 1.3rem;
  border-radius: 50%;
  background-color: var(--clr-btn-inside);
  color: var(--clr-paragraph);
  cursor: pointer;
}
.btn-right {
  cursor: pointer;
  display: flex;
  align-self: center;
  border: 1px solid var(--clr-paragraph);
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 0.2rem 1.3rem;
  border-radius: 50%;
  background-color: var(--clr-primary-O);
  color: var(--clr-btn-inside);
}

/* .packages-headings::after {
  content: "";
  background-image: url("Assets/Element(1)png");
} */

.vacation-packages {
  background-color: var(--clr-bg);
  padding-top: 6rem;
  position: relative;
}
.packages-headings {
  font-size: var(--fs-heading-secondary);
  color: var(--clr-primary-B);
  font-family: "Volkhov";
  text-align: center;
}
.packages-description {
  font-size: var(--fs-paragraph-B);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  text-align: center;
  margin: auto;
  width: 40vw;
  margin-top: 1rem;
  padding-bottom: 3rem;
}
.palm-tree-img {
  position: absolute;
  top: 10%;
  right: 23%;
}
.buttons {
  position: absolute;
  top: 25%;
  /* left: 45%; */
  right: 9.5%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.button-1 {
  display: flex;
  border: 1px solid var(--clr-paragraph);
  text-align: center;
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 0.2rem 1.3rem;
  border-radius: 50%;
  background-color: var(--clr-btn-inside);
  color: var(--clr-paragraph);
  cursor: pointer;
}

.button-2 {
  cursor: pointer;
  display: flex;
  align-self: center;
  border: 1px solid var(--clr-paragraph);
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 0.2rem 1.3rem;
  border-radius: 50%;
  background-color: var(--clr-primary-O);
  color: var(--clr-btn-inside);
}
.package-cards {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  padding-bottom: 4rem;
  overflow-x: scroll;
}
.card-box {
  background-color: var(--clr-btn-inside);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.113);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.package-pricing {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.package-location {
  font-size: var(--fs-paragraph-A);
  color: var(--clr-primary-B);
  font-family: "Poppins";
}
.package-price {
  font-size: var(--fs-paragraph-A);
  color: var(--clr-primary-O);
  font-family: "Poppins";
}
.trip-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.duration {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.days {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
}
.actual-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.location-rating {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
}
.testimonial-section {
  display: flex;
  margin: auto;
  width: 100vw;
  justify-content: space-around;
  padding-top: 6rem;
  align-items: center;
  padding-bottom: 8rem;
  /* gap: 1rem; */
  background-color: var(--clr-bg-2);
  position: relative;
}
.testimonial-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* margin: auto; */
  /* width: 10vw; */
  /* align-items: flex-end; */
}
.testimonial-heading {
  font-size: var(--fs-heading-secondary);
  font-family: "Volkhov";
  color: var(--clr-primary-B);
  margin: auto;
  width: 30vw;
}
.testimonial-descrpt {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin: auto;
  width: 30vw;
}
.testimonial-btn {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin: auto;
  width: 30vw;
}
.testimonial-box {
  position: relative;
}
.client-testimonial {
  background-color: var(--clr-btn-inside);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.113);
  width: 42rem;
  padding: 3rem;
  /* margin: auto;
  width: 30vw; */
  position: absolute;
  top: 20%;
  right: 30%;
  transform: translate(0%, -55%);
  z-index: 2;
  border-radius: 4px;
}
.testimonial {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin-bottom: 1.5rem;
}
.client-name {
  font-size: var(--fs-paragraph-B);
  color: var(--clr-primary-B);
  font-family: "Poppins";
}
.client-location {
  font-size: var(--fs-paragraph-D);
  font-family: "Poppins";
  color: var(--clr-paragraph);
}
.client-2-testimonial {
  background-color: var(--clr-btn-inside);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.113);
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  position: absolute;
  transform: translate(-90%, -20%);
  opacity: 0.5;
  border-radius: 4px;
}

.client-2 {
  font-size: var(--fs-paragraph-B);
  color: var(--clr-primary-B);
  font-family: "Poppins";
}

.client-occupation {
  color: var(--clr-paragraph);
  font-size: var(--fs-paragraph-D);
  font-family: "Poppins";
}
.client-pic {
  position: absolute;
  top: 15%;
  right: 45%;
  z-index: 3;
}
.planes {
  position: absolute;
  right: 5%;
  top: 5%;
}
/* .section-6 {
  padding-top: 5rem;
  margin: auto;
   width: 90vw; 
}
.section-6-container {
  display: flex;
  gap: 3rem;
}
.section-6-card {
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
   align-items: center; 
   justify-content: center; 
}

.section-6-heading {
  font-size: var(--fs-heading-secondary);
  color: var(--clr-primary-B);
  text-align: center;
  margin-bottom: 5rem;
  font-family: "Volkhov";
}
.section-6-descrp {
   margin-top: 2rem; 
  font-size: var(--fs-paragraph-B);
  color: var(--clr-primary-B);
  font-family: "Poppins";

  letter-spacing: 1.2; 
  cursor: pointer;
}
.section-6-date {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin-top: 2rem;
  letter-spacing: 1.2;
}  */
.blog {
  margin: auto;
  width: 90vw;
  padding-top: 4rem;
  margin-top: 2rem;
  padding-bottom: 4rem;
}
.blog-heading {
  font-size: var(--fs-heading-secondary);
  color: var(--clr-primary-B);
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Volkhov";
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 2rem;
  overflow-x: scroll;
}

.blog-box {
  /* outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.blog-descrptn {
  margin-top: 2rem;
  font-size: var(--fs-paragraph-B);
  color: var(--clr-primary-B);
  font-family: "Poppins";
}
.blog-date {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  margin-top: 1rem;
  letter-spacing: 1.2;
}
.email-section {
  display: flex;
  flex-direction: column;
}

.subscribe {
  background-color: var(--clr-primary-O);
  border-radius: 8px;
  margin: auto;
  width: 90vw;
  /* height: 25vw; */
  margin-top: 4rem;
  position: relative;
  padding-bottom: 2.5rem;
}
.subscribe-heading {
  font-size: var(--fs-heading-secondary);
  font-family: "Volkhov";
  color: var(--clr-btn-inside);
  text-align: center;
  margin: auto;
  width: 50vw;
  padding-top: 5rem;
  margin-bottom: 4rem;
}
.subscribe-mail {
  text-align: center;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(--clr-btn-inside);
  border-radius: 9px;
  /* height: 6rem; */
  width: 65rem;
  margin: 1rem auto;
  padding-right: 7px;
  padding-left: 15px;

  cursor: pointer;
  gap: 0.5rem;

  /* margin-top: 1rem; */
}

.subscribe-mail input {
  border: none;
}
.mail-icon {
  height: 2rem;
  stroke: var(--clr-mail-text);
}

.subscribe-btn {
  border: none;
  color: var(--clr-btn-inside);
  font-size: var(--fs-paragraph-C);
  font-family: "Poppins";
  background-color: var(--clr-primary-O);
  border-radius: 7px;
  height: 4.7rem;
  width: 12rem;
  cursor: pointer;
  margin: 5px 5px;
  margin-right: 0px;
  margin-left: auto;
}

.contact-info {
  display: flex;
  /* grid-template-columns: 2fr 1fr 1fr 1fr; */
  margin: auto;
  width: 90vw;
  padding-top: 3rem;
  justify-content: space-between;
  margin-top: 2rem;
  border-bottom: 1px solid var(--clr-mail-text);
  margin-bottom: 3rem;

  /* justify-items: space-around; */
}
.social-handles {
  padding-bottom: 2.5rem;
}
.margin-top {
  /* margin-top: 2rem; */
  margin: auto;
  width: 20vw;
  padding-top: 2rem;
}

.social-heading {
  font-size: var(--fs-paragraph-B);
  color: var(--clr-primary-B);
  font-family: "Poppins";
  line-height: 1.5;
  margin-bottom: 2rem;
  cursor: pointer;
}
.social-details {
  font-size: var(--fs-paragraph-C);
  color: var(--clr-paragraph);
  font-family: "Poppins";
  line-height: 1.5;
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
}
.social-logo {
  background-color: var(--clr-btn-inside);
  border-radius: 100%;
  padding: 1rem;
  cursor: pointer;
  /* padding-top: 1rem; */
}
.IG-logo {
  background-color: var(--clr-primary-O);
  border-radius: 100%;
  padding: 1.2rem;
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
  /* padding-top: 1rem; */
}
@media (max-width: 768px) {
  /****************** MENUBAR *********************/
  .menubar-contents {
    gap: 1rem;
    font-size: var(--fs-paragraph-D);
  }
  .menubar-btns {
    gap: 1rem;
  }
  .login-btn {
    font-size: var(--fs-paragraph-D);
  }
  .sign-up-btn {
    font-size: var(--fs-paragraph-D);
  }
  .button {
    width: 10rem;
    height: 3.5rem;
  }
  /* .trabook-logo {
    width: 5rem;
  } */

  /******************** 1st SECTION *********************/
  .hero-img {
    width: 100%;
    /* height: 30rem; */
    /* overflow: hidden; */
  }

  .hero-heading {
    font-size: 35px;
  }

  .hero {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0px 10px 35px;
  }

  .hero-description {
    font-size: var(--fs-paragraph-D);
  }
  .hero-content {
    display: flex;
    /* align-items: center; */
    /* padding-top: 20px; */
    gap: 3rem;
  }
  .hero-btn {
    /* width: 12rem;
    height: 4rem; */
    padding: 1rem;
    width: 40%;
  }

  .container {
    padding: 20px;
  }

  .container-description {
    display: none;
  }

  .container-btn {
    padding: 5px;
    width: 100%;
  }

  /********************* 2nd SECTION ********************/
  .info-section {
    margin: 0 auto;
    width: 90vw;
  }
  .info-explore-container {
    gap: 1.5rem;
  }
  .info-explore-box {
    height: 25rem;
    /* width: 40rem; */
    padding: 2rem;
  }
  .info-img {
    display: none;
  }
  .info-heading {
    font-size: 35px;
  }
  .info-description {
    font-size: var(--fs-paragraph-D);
    width: 45vw;
  }
  .info-explore-heading {
    font-size: var(--fs-paragraph-A);
  }
  .info-explore-details {
    font-size: var(--fs-paragraph-D);
  }
  .sign-up-icon {
    width: 40px;
  }

  /******************* 3rd SECTION **********************/

  .offers-section {
    margin: 0 auto;
    width: 90vw;
  }

  .offers-location-container {
    gap: 2rem;
  }
  .offers-heading {
    font-size: 35px;
  }
  .offers-description {
    font-size: var(--fs-paragraph-D);
    margin: 0 auto;
    width: 45vw;
  }

  .offers-location {
    width: 22rem;
  }
  .star-icon {
    width: 12px;
  }
  .location-img {
    width: 15.8rem;
  }
  .location-name {
    font-size: var(--fs-paragraph-B);
  }
  .ratings {
    font-size: var(--fs-paragraph-D);
  }
  .location-icon {
    width: 12px;
  }
  .location-country {
    font-size: var(--fs-paragraph-D);
  }
  .old-price {
    font-size: 10px;
  }
  .discounted-price {
    font-size: 10px;
  }
  .location-explore {
    gap: 2px;
  }
  .location-deals {
    gap: 2px;
  }
  .rating {
    padding: 1rem;
  }
  .location-ideas {
    padding: 0 1rem 1rem 1rem;
  }
  .btn {
    bottom: 0%;
    left: 42%;
    right: 45%;
  }
  .btn-logo {
    width: 15px;
  }

  /******************** 4th SECTION ********************/
  .vacation-packages {
    margin: 0 auto;
    width: 90vw;
  }

  .packages-headings {
    font-size: 35px;
  }

  .packages-description {
    font-size: var(--fs-paragraph-D);
    width: 50vw;
    margin: 0 auto;
  }
  .palm-tree-img {
    display: none;
  }
  .buttons {
    display: none;
  }
  .rome-pic {
    width: 20rem;
  }
  .package-location {
    font-size: var(--fs-paragraph-C);
  }
  .package-price {
    font-size: var(--fs-paragraph-C);
  }
  .location-vector,
  .star-vector {
    width: 12px;
  }
  .days,
  .location-rating {
    font-size: var(--fs-paragraph-D);
  }
  .duration,
  .actual-rating {
    gap: 0.5rem;
  }

  /********************* 5th SECTION ********************/
  .blog {
    margin: 0 auto;
    width: 90vw;
  }
  .blog-container {
    gap: 1rem;
  }
  .blog-heading {
    font-size: 35px;
  }
  .destination-pic {
    width: 15rem;
  }

  .blog-descrptn {
    font-size: var(--fs-paragraph-D);
  }
  .blog-date {
    font-size: var(--fs-paragraph-small);
  }

  /********************* 6th SECTION ********************/
  .subscribe {
    margin: auto;
    width: 90vw;
  }
  .subscribe-heading {
    font-size: var(--fs-title-heading);

    padding-top: 3rem;
    margin-bottom: 2rem;
  }
  .subscribe-mail {
    width: 50rem;
    margin: 0.5rem auto;
    padding-right: 7px;
    padding-left: 15px;
  }
  .contact-info {
    margin: 0 auto;
    width: 90vw;
  }
  .social-details {
    font-size: var(--fs-paragraph-D);
  }
}
